.normal-buttons {
	-fx-background-radius: 7px;
	-fx-background-insets: 0px, 0px, 1px, 0px;
	
	-fx-border-radius: 6px;
	-fx-border-width: 1px;
    -fx-border-color: black;
}
.refresh-button {
	-fx-border-radius: 6px;
	-fx-border-width: 1px;
    -fx-border-color: black;
}
.hint {
	-fx-background-color: linear-gradient(to top right, #2ADEF5, #B1F1FA 70%, #B1F1FA 70%, #2ADEF5);
	-fx-background-radius: 5px;
	-fx-background-insets: 0px, 0px, 1px, 0px;

	-fx-border-radius: 5px;
	-fx-border-width: 1px;
    -fx-border-color: black;
}
.check-box .box {
	-fx-padding: 0px;
	
	-fx-background-color: white;
	-fx-background-insets: 0px, 0px, 1px, 0px;
	
	-fx-border-color:grey;
	-fx-border-radius:2px; 
}
.check-box:selected > .box > .mark {
	-fx-background-insets: 0px, 0px, 1px, 0px;
	-fx-background-color: #000126;
}
.check-box:hover > .box{ 
	-fx-background-color: linear-gradient(to top, #ACFEFE, #E5FBFE);
}
.check-box:armed .box {
	-fx-background-color: #ADF6FF;
}
.check-box:selected .box {
	-fx-background-color: white;
}